<div class="container">
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" aria-describedby="basic-addon3" (input)="onSearchChange($event.target.value)">
      <button type="button" class="btn btn-primary" value="Upload data" (click)="onUploadData()">Upload Data</button>
      <div class="card card-block" *ngFor="let video of videos">
        <button type="button" class="btn btn-secondary" href="#" role="button" (click)="onVideoLoad(video)">{{video.name}}</button>
      </div>
    </div>
    <div class="col-md-4">
      <youtube-player [height]="height" [width]="width" videoId={{youtubeId}} (ready)="savePlayer($event)" (change)="onStateChange($event)">
      </youtube-player>
    </div>
  </div>
</div>