<div class="row justify-content-center">
    <div class="col-12 col-lg-8">

        <nav class="navbar navbar-expand navbar-light bg-faded">

            <div class="collapse navbar-collapse" id="navbarNav">
                <!--Left nav-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="userinfo">Користувач</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="updatepassword">Змінити пароль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="favorite">Улюблені</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="addaudiobook">Додати аудіо книгу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="addbook">Додати опис книги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="mybooks">Книги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="adduserdemand">Прохання озвучення</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="adduseroffer">Пропозиція озвучення</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="mycontracts">Мої контракти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="appliedcontracts">Підписані контракти</a>
                    </li>
                </ul>
            </div>
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>