<div class="container">
    <h3>
        Пропозиції озвучення
    </h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Номер</td>
                <td>Ціна</td>
                <td>Опис</td>
                <td>Email</td>
                <td>Номер книги</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offer of offers; let i = index; trackBy: trackByFn">
                <td>{{offer.id}}</td>
                <td>{{offer.price.value}} uah</td>
                <td>{{offer.description}}</td>
                <td>{{offer.userEmail}}</td>
                <td>{{offer.bookId}}</td>
            </tr>
        </tbody>
    </table>
</div>