<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
  <div class="col-md-12">
      <h1>14 аудіокниг українською, які необхідно мати у своєму телефоні</h1>
      <p>Коли дуже хочеться припасти до книги, а часу і можливості геть немає, тоді слід обирати: або не читати взагалі,
          або шукати альтернативні варіанти. Аудіокнига – саме така можливість: постійно віддавати їй перевагу перед
          друкованою зовсім не слід, але звертатися до неї за потреби – штовхаючи коляску, біжучи у справах, засинаючи
          у темряві, похапцем обідаючи - все ж припустимо.
          Особливо, коли це не просто собі книга, а справжнє культурне явище, повноцінна подія: начитаний самим автором,
          доповнений музичним акомпанементом видатний текст. Як приклад.
          INSIDER добряче перетрусив не надто розвинений ще, хоча й не Подерв’янським єдиним, живий український ринок аудіокниг
          і пропонує вам те, що неодмінно слід придбати, послухати і, за потреби, переслухати знову.</p>
    <div>
      <span class="badge">2017-08-02 20:47:04</span>
      <div class="pull-right">
        <span class="label label-default">новини</span>
        <span class="label label-primary">блог</span>
        <span class="label label-success">історія</span>
      </div>
    </div>
    <hr>
    <h1>"Улюблені вірші", А-БА-БА-ГА-ЛА-МА-ГА</h1>
      <p>Прекрасні дитячі поезії, бо "віршики" - то занадто фамільярно тут, що на них вже росте друге покоління:
          щось перекликається з еталонною "Абеткою" цього ж видавництва, а щось взяте з Макса Жакоба, Лесі Українки,
          Юліна Тувіма і Миколи Вінграновського.
          Читає і сам видавець Іван Малкович, і артист Бенюк, у підсумку – продукт такого рівня, що, як кажуть,
          "закриває собою тему". Очевидно, маст-хев для молодих батьків – як правильно читати-декламувати хрестоматійні
          "Ходить гарбуз по городу" і "Падав сніг на поріг", але не тільки: пригадування чогось чудового з давноминулого
          дитинства ще нікому ніколи не зашкодило.</p>
    <div>
      <span class="badge">Posted 2017-08-02 20:47:04</span>
      <div class="pull-right">
        <span class="label label-default">новини</span>
        <span class="label label-primary">історія</span>
        <span class="label label-success">блог</span>
      </div>
    </div>
    <hr>
  </div>
</div>